<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a57a9b">  <td>20/01/17 11:49:26</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;CounterWebDay3.beforeTest()[pri:0, instance:samplepackage.CounterWebDay3@523884b2]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@121295574</td>   <td></td> </tr>
<tr bgcolor="a57a9b">  <td>20/01/17 11:49:27</td>   <td>1335</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CounterWebDay3.f()[pri:0, instance:samplepackage.CounterWebDay3@523884b2]">f</td> 
  <td>main@121295574</td>   <td></td> </tr>
<tr bgcolor="a57a9b">  <td>20/01/17 11:49:32</td>   <td>6385</td> <td>&nbsp;</td><td title="&lt;&lt;CounterWebDay3.afterTest()[pri:0, instance:samplepackage.CounterWebDay3@523884b2]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@121295574</td>   <td></td> </tr>
</table>
